$primary-color: black;

@mixin nav-options-button {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

h1 {
  color: $primary-color;
}

.nav {
  background-color: #96c8eac9;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  color: #ffffff;
  margin-right: auto;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
}

.nav-selected {
  @include nav-options-button();
  color: white;
  font-weight: bold;
}

.nav-unselected {
  @include nav-options-button();
}
