@mixin nav-options-button {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

@mixin thumbnail-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.nav {
  background-color: #96c8eac9;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  color: #ffffff;
  margin-right: auto;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
}

.nav-selected {
  @include nav-options-button();
  color: white;
  font-weight: bold;
}

.nav-unselected {
  @include nav-options-button();
}

.attraction-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 0.8%;
}

.attraction-item {
  margin: 9%;
  padding: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-color: grey;
  border-radius: 8px;
}

.attraction-item-location {
  display: flex;
  justify-content: center;
}

.location-images {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.attraction-name {
  text-align: center;
}

.location-map {
  @include thumbnail-image();
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}

.attraction-image {
  @include thumbnail-image();
  display: block;
  margin: auto;
}

.location-geo-description {
  width: 75%;
  display: block;
  margin: auto;
}
